@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron" style="background-color:#12232E">
    <h1 style="text-align:center">Resume Builder</h1>
    <p >A resume is an important tool for your job search because it offers a page or two where you can display your top skills and qualities. However, a resume is much more than that. Resumes help employers make hiring decisions and help you get your first interview. That's why it matters how you structure your resume and what information you decide to include. In this article, you'll learn why a resume is important and get actionable resume tips that may help you achieve your next career move.</p>
</div>

<div class="row grow" >
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-rounded" src="~/Content/Free.png" width="100" height="100" />
            <div class="card-body">
                <h3 class="card-title" >Everything is Free</h3>
                <p class="card-text" >Every Template in our website is free to use and download.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-rounded" src="~/Content/Choose.png" width="100" height="100" />
            <div class="card-body">
                <h3 class="card-title" >Choose</h3>
                <p class="card-text" >You can choose from our wide variety of professional Templates and customize it to your need.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top img-rounded" src="~/Content/Register.png" alt="Sample Photo" width="150" height="100">
            <div class="card-body">
                <h3 class="card-title" >Register to get more features!!</h3>
                <p class="card-text">Register with us to get access to more advanced features.</p>
            </div>
        </div>
    </div>
</div>


